:root{
    --color-white: #fff;
    --color-secondary: #f8f7f1;
    --color-green: #4baf47;
    --color--salad: #c5ce38;
    --color--black05: rgba(0, 0, 0, 0.5);
    --color--gold: #EEC044;
    --color-grey: #878680;
    --color-brown: #24231D;
}
